# Disable directory browsing
Options -Indexes

# Redirect all requests to public folder
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to public folder
    RewriteRule ^$ public/ [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 public/index.php
</IfModule>
